{% extends "base.j2" %}
{% block content %}

    <ul>
        <li><a href="procedures">Procedures</a></li>
        <li><a href="clients">Clients</a></li>
        <li><a href="records">Records</a></li>
    </ul>

{% endblock %}



