{% extends "base.j2" %}
{% block content %}

            <table>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Price</td>
                    </tr>
                </thead>

               {% for procedure in procedures %}
                    <tr>
                        <td>{{ procedure.id }}</td>
                        <td>{{ procedure.name }}</td>
                        <td>{{ procedure.price }} UAH</td>
                    </tr>
               {% endfor %}

            </table>

{% endblock %}