{% extends "base.j2" %}
{% block content %}

            <table>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Date Time</td>
                        <td>Client</td>
                        <td>Procedure</td>
                        <td>Duration</td>
                        <td>Price</td>
                    </tr>
                </thead>

               {% for record, client, procedure in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.datetime_visit }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ procedure.name }}</td>
                        <td>{{ procedure.duration_minutes }} min</td>
                        <td>{{ procedure.price }} UAH</td>
                    </tr>
               {% endfor %}

            </table>

{% endblock %}



